.message {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 350px;
}

.content {
  padding: 20px;
  display: flex;
  align-items: flex-start;
}

.icon {
  margin-top: 2px;
}

.text {
  flex: 1 1 0%;
  margin-left: 10px;
}

.detail {
  color: #3f3f46;
  font-size: 13px;
  line-height: 16px;
  margin-top: 8px;
}

.closeButton {
  color: inherit;
  margin-left: 40px;
}

.toast {
  background-color: #eff6ffe6;
  border-radius: 8px;
}

.success {
  background-color: rgba(240, 253, 244, 0.9);
  color: rgb(21, 128, 61);
}

.info {
  background-color: rgba(239, 246, 255, 0.9);
  color: rgb(29, 78, 216);
}

.warn {
  background-color: rgba(255, 247, 237, 0.9);
  color: rgb(194, 65, 12);
}

.error {
  background-color: rgba(254, 241, 241, 0.9);
  color: rgb(185, 28, 28);
}

.icon,
.closeIcon {
  color: inherit;
  fill: currentColor;
}

.enterFrom {
  opacity: 0;
  transform: translateX(100px);
}

.enterActive {
  transition: transform 0.3s, opacity 0.3s;
}

.leaveFrom {
  max-height: 80vh;
}

.leaveActive {
  transition: max-height 0.45s cubic-bezier(0, 1, 0, 1), opacity 0.3s, margin-bottom 0.3s;
  overflow: hidden;
}

.leaveTo {
  max-height: 0;
  opacity: 0;
  margin-bottom: 0;
}
