:root {
  --font-family: 'Roboto';
  --body-font-size: 16px;
  --body-line-height: 20px;
  --body-font-weight: 400;

  --container-width: 1170px;

  --color-blue: #2B6EBC;
  --color-black: #0E0E0E;
  --color-gray: #898989;
  --color-disabled: #444444;
  --color-error: #d33737;
  --color-gray-active: #d9d9d9;
  --color-light-gray: #EBEBEB;
}
